.layout {
    min-height: 100vh;
}

.header {
    background-color: #222;
    padding: 0;
}

.menu {
    background-color: #222;
    color: #fff !important;
}

.content {
    padding: 30px 15px;
}

.sider {
    background-color: #fff !important;
    color: #222 !important;
    border-right: #222 1px solid;
}

.footer {
    text-align: center;
    color: #fff;
    background-color: #222;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 756px) {
    .main {
        grid-template-columns: 200px 1fr;
    }
}